.home_bg {
  background-color: black;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

li.nav_items {
  font-size: 18px;
  padding-bottom: 15px;
}

.home_content {
  padding: 125px 0px;
}

h1.home_text {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgba(198, 201, 216, 0.75) !important;
}

h2.home_text {
  font-size: 54px;
  line-height: 54px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
}

h3.home_text {
  font-size: 54px;
  line-height: 40px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
}

.header.active {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 0px 30px;
  background: black;
}

@media only screen and (max-width: 768) {
  .header {
    justify-content: space-between;
  }

  h2.white.pz_10 {
    font-size: 50px !important;
  }
}
